<mat-toolbar>
    <mat-toolbar-row>
        <span>Add new student</span>
    </mat-toolbar-row>
</mat-toolbar>
<!-- {{diagnostic}} -->
<form style="margin-left: 1em" #studentForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Student Id" [(ngModel)]="model.studentId" name="studentId" required>
        <!-- <br>TODO: remove this: {{spy.className}}
        <table class="full-width" cellspacing="0"></table> -->
    </mat-form-field>
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="First name" [(ngModel)]="model.name" name="name" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="surname" [(ngModel)]="model.surname" name="surname" required>
                </mat-form-field>
            </td>
        </tr>
        <div>
            <!-- <button mat-raised-button class="center-button" (click)="downQuantity(student)">-</button> -->

            <mat-form-field class="penInput">
                <input matInput placeholder="pen Amount" class="center-text" value="0" [(ngModel)]="model.penAmount" name="penAmount" required>
            </mat-form-field>
            <!-- <button mat-raised-button layout="row" class="center-button" (click)="upQuantity(student)">+</button> -->
        </div>
    </table>
    <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
        <input matInput placeholder="file name" [(ngModel)]="model.image" name="image">
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" [(ngModel)]="model.description" name="description"></textarea>
    </mat-form-field>
    <div class="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid">Add</button>
    </div>
</form>